.std-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
    

    .img-container {
        width: 150px;
        height: 150px;
        background-color: #ececec;
        border-radius: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 
            8px 8px 12px 0 rgba(0, 0, 0, 0.16),
            -8px -8px 12px 0 rgba(255, 255, 255, 0.7);

        img {
            width: 135px;
        }
    }

    .institute-info {
        color: #494949;
        width: 670px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #61EA91;

        span, h3 {
            margin: 0;
        }
    }
}


.student-exchage {
    .img-container {
       background: #F65838; 
    }
}

.english {
    .img-container {
        background: #E5285E;
    }
}